<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
  <title>View-Product</title>
</head>
<body>
<h2>Information</h2>
<table>
  <tr>
    <td>ID: </td>
    <td th:text="${product.id}"></td>
  </tr>
  <tr>
    <td>NAME: </td>
    <td th:text="${product.name}"></td>
  </tr>
  <tr>
    <td>DESCRIPTION: </td>
    <td th:text="${product.description}"></td>
  </tr>
  <tr>
    <td>PRICE: </td>
    <td th:text="${product.price}"></td>
  </tr>
  <tr>
    <td>PRODUCER: </td>
    <td th:text="${product.producer}"></td>
  </tr>

</table>
</body>
</html>