<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
  <title>Add-Blog</title>
</head>
<body>
<h2 class="my-5">Add new Blog</h2>
<form method="post" th:object="${customer}">
  <table>
    <tr>
      <td>Blog Name</td>
      <td>
        <input type="text" th:field="${customer.name}">
      </td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>
        <input type="text" th:field="${customer.email}">
      </td>
    </tr>
    <tr>
      <td>Content</td>
      <td>
        <textarea rows="10" th:field="${customer.address}"></textarea>
      </td>
    </tr>
  </table>
  <tr>
    <button class="btn btn-primary" type="submit">Add Blog</button>
  </tr>
</form>
</body>
</html>