<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
  <title>Add-Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<h2 class="table table-dark">Add new Blog</h2>
<form method="post" th:object="${blog}">
  <table>
    <tr>
      <td>Blog Name</td>
      <td>
        <input type="text" th:field="${blog.name}">
      </td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>
        <input type="text" th:field="${blog.summary}">
      </td>
    </tr>
    <tr>
      <td>Content</td>
      <td>
        <textarea rows="10" th:field="${blog.content}"></textarea>
      </td>
    </tr>
    <tr>
      <td>Author</td>
      <td>
        <input type="text" th:field="${blog.author}">
      </td>
    </tr>
    <tr>
      <td>Time Post</td>
      <td>
        <input type="text" th:field="${blog.timePost}" >
      </td>
    </tr>
    <tr>
      <td><label>
        Category
      </label>
        <select th:field="*{category}">
          <option th:each="cate:${categoryList}" th:text="${cate.categoryName}" th:value="${cate.id}"></option>
        </select>
      </td>
    </tr>
  </table>
  <tr>
    <button class="btn btn-primary" type="submit">Add Blog</button>
  </tr>
</form>
</body>
</html>