<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="container">
  <h2 th:text="${'Post on category '+category.name}"></h2>
  <div class="row">
    <div th:each="blog,loop : ${blogs}" class="col-lg-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 th:text="${blog.name}" class="card-title"></h5>
          <p th:text="${blog.summary}" class="card-text">Some quick example </p>
          <a th:href="@{/blog/__${blog.id}__/view}" class="btn btn-primary">Xem</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>