<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head >
    <title>Content-Blog</title>
</head>
<body>
<h2>Information</h2>
<table>
    <tr>
        <td>NAME: </td>
        <td th:text="${blog.name}"></td>
    </tr>
    <tr>
        <td>SUMMARY: </td>
        <td th:text="${blog.summary}"></td>
    </tr>
    <tr>
        <td>CONTENT: </td>
        <td th:text="${blog.content}"></td>
    </tr>
    <tr>
        <td>AUTHOR </td>
        <td th:text="${blog.author}"></td>
    </tr>
    <tr>
        <td>TIMEPOST </td>
        <td th:text="${blog.timePost}"></td>
    </tr>

</table>
</body>
</html>